.App {
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
  color: darkred;
}

.App-intro {
  font-size: large;
}

.Home {    
  background-image: url('./images/movie-theater.jpeg');
  background-size: cover;
  height: 650px;
}

.Movie-detail {
  color: floralwhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 10%;
  margin-left: 10%;
  font-size: 16px;
}

.Movie-list {
  overflow: hidden;
  overflow-x: scroll;
  background-color: black;
}

.cell {
  display: table-cell;
  text-decoration: none;
}

.cell:hover {
  border: 5px solid red;
}

.cellImage {
  display: inline-flex;
}

#footer {
  position: fixed;
  height: 5%;
  background-color: black;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

h2 {
  margin: 0;
  padding: 25px;
}

h4 {
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
