.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Home {    
  min-height: 675px;
  background-color: darkgray;
}

.movieList {
  overflow: hidden;
  overflow-x: scroll;
  background-color: black;
}

.cell {
  display: table-cell;
  text-decoration: none;
}

.cell:hover {
  border: 5px solid red;
}

.cellImage {
  display: inline-flex;
}

h2 {
  margin: 0;
  padding: 25px;
}

h4 {
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
