.App {
  text-align: center;
  margin: 0;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-family: fantasy;
  font-size: 2.5em;
  color: darkred;
}

.App-intro {
  font-size: large;
}

.Home {    
  background-image: url('./images/movie-theater.jpeg');
  background-size: cover;
  height: 700px;
}

.Details, .Edit {
  color: floralwhite;
  background-image: url(../App/images/movie-theater.jpeg);
  background-size: cover;
  height: 700px;
}

.Form {
  background-color: maroon;
  border: 10px solid black;
  border-radius: 25px;
}

.Movie-detail {
  color: floralwhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 10%;
  margin-left: 10%;
}

.Movie-list {
  overflow: hidden;
  overflow-x: scroll;
  background-color: black;
}

.cell {
  display: table-cell;
  text-decoration: none;
}

.cell:hover {
  border: 5px solid red;
  border-radius: 10px;
}

.cellImage {
  height: 250px;
  display: inline-flex;
  margin: 5px;
  padding: 5px;
}

#footer {
  position: fixed;
  height: 5%;
  background-color: black;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

h1, h2 {
  margin: 0;
  padding: 25px;
}

h4 {
  margin-right: 10%;
  margin-left: 10%;
}

h5 {
  margin: 25px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
